<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600" rel="stylesheet">

    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.ico">
  </head>

  <body>
    {{ content }}

    {% for script in page.scripts %}
      <script src="{{ site.baseurl }}/assets/js/{{ script }}"></script>
    {% endfor %}
  </body>
</html>
